body {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 4em;
  margin-right: 4em;
  }
/* bare-bones two-column layout */
* {
    margin: 0;
  }

html, body {
    height: 100%;
  }

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
  }

.footer, .push {
    height: 4em;
    clear: both;
  }

.footer {
    border-top:  2px solid grey;
    padding-top: .8em;
    font-size: 80%;
}

h2, h4 {margin-bottom: .5em;
    margin-top: 1em;
  }

p {
  margin-bottom: .5em;
  }

.hideme { opacity: 0.2; }

#header {
  font-size: 150%;
  border-bottom-style: solid;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding-bottom: .5em;
  position: relative;
  }

#header a:link, #header a:visited {
  background-color: #13971B;
  font-size: 75%;
  color: white;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  position: absolute;
  bottom: 15%;
  right: 0em;
  font-weight: bold;}

#header a:hover, #header a:active {
    background-color: white;
    color: #13971B;
    border: 1px solid #13971B;
  }

#header p {
  color: grey;
}

#header h1 {
  font-family: "IM Fell DW Pica", Serif;
}

#search {
  width: 75%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
/*box-shadow: 5px 5px 5px #888888;*/
  -webkit-box-shadow: 5px 5px 9px 0px gainsboro;
  -moz-box-shadow: 5px 5px 9px 0px gainsboro;
  box-shadow: 5px 5px 9px 0px gainsboro;
  margin-bottom: 1em;
  }

#search .formpart {
  padding: .2em;
  font-size: 75%;
  }

#main {
  width: 80%;
  float: left;
}

#main p {
margin-top: 1em;
}

.searches {
  width: 15%;
  border: 1px solid black;
  float: right;
  padding: 1em 1.5em 1.5em;
  border-radius: 10px;
  }

.searches dt {
  padding-bottom: .6em;
  }

.searches dl {
    padding-bottom: .5em;
  }

.searches h3 {
    margin-bottom: .5em;
  }

.showsearches {
    font-size: 75%;
    padding-bottom: .5em;
  }

.toggleview {
    float: right;
    right: 5%;
  }

 #results {
    position: relative;
 }

 #search {
    position: relative;
 }

 #results h3 {
   font-family: "IM Fell DW Pica", Serif;
   z-index: 2;
   font-size: 157%;
 }

#loading {
  position: absolute;
  top: 25%;
  left: 25%;
}

#loading p {
  text-align: center;
  font-size: 150%;
  color: DarkGray;
}

#baseline {
  position: absolute;
  top: 50%;
  font-weight: bold;
  font-size: 150%;
  color: grey;
}

#slider {
  margin: 1em;
}

.ui-slider-horizontal {
    height: 9px;
    width: 75%;
}

.ui-slider .ui-slider-handle {
    height: 20px;
    width: 10px;
    padding-left: 5px;
}

#explaining {
  width: 70%;
  float: left;
}

#credits {
  width: 20%;
  float: right;
  padding: 1em 2em 2em;
}

#printable {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#printable-stuff {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#moreoptions {
  display: none;
}
